.sidebarOption{
  display: flex;
  color: grey;
  cursor: pointer;
  height: 40px;
  transition: 300ms color ease-in;
  align-items: center;
}

.sidebarOption:hover {
  color: white;
}

.sidebarOption_icon {
  padding: 0 10px 0 30px;
}

.sidebarOption > p {
  font-size: 15px;
  margin-top: 10px;
  margin-left: 20px;
}